* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vh;
    background: linear-gradient(
    60deg,
    rgba(65,184,131,1) 0%,
    rgba(0,212,255,1) 100%
    );
    margin: auto;
    max-width: 100%;
}

.board{
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    background: rgba(255,255,255,0.3) !important;
}

.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    border: 8px solid rgba(255,255,255,0.3) !important;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:not(.x):not(.circle) {
    cursor: crosshair;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

/* Desenhando o X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.8);
    position: absolute;
    background: #fff;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* Desenhando círculo */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    content: "";
    height: calc(100px * 0.6);
    width: calc(100px * 0.6);
    border: 8px solid #fff;
    position: absolute;
    /* background: #fff; */
    border-radius: 50%;
}

/* Mensagem de Vitória */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    flex-direction: column;
}

.winning-message-text {
    font-size: 4rem;
    color: #fff;
}

.btn {
    font-size: 2.5rem;
    background-color: rgba(65,184,131,1);
    padding: 10px 15px;
    margin-top: 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}

.btn:hover {
    color: rgba(65,184,131,1);
    background-color: #fff;
}

.show-winning-message {
    display: flex;
}